<head>
    <!-- CSS -->
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="Home.css">
    <link rel="stylesheet" href="aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Javascript -->
    <script src="global.js" defer></script>
    <script src="typing.js" defer></script>
    <script src="aos.js" defer></script>
</head>

<style>
    img {
        height: 200px;
        width: 200px;
    }
</style>

<body>

    <%- include("../components/Home/1_Page.ejs") %>
        <%- include("../components/Home/2_Page.ejs") %>
            <%- include("../components/Home/3_Page.ejs") %>
                <%- include("../components/Home/4_Page.ejs") %>
                    <%- include("../components/Home/5_Page.ejs") %>

</body>