<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="John Layda's portfolio">
    <title>John Layda</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="navigation.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- JavaScript -->
    <script src="https://unpkg.com/aos@next/dist/aos.js" defer></script>
    <script src="global.js" defer></script>
    <script src="navigation.js" defer></script>
    <script src="type.js" defer></script>
</head>

<body>
    <!-- Header -->
    <%- include('../components/Home/Header.ejs') %>
        <!-- Main -->
        <main>

            <%- include("../components/Home/Introduction.ejs") %>
                <%- include("../components/Home/AboutMe.ejs") %>
                    <%- include("../components/Home/MySkills.ejs") %>
                        <%- include("../components/Home/SkillsPercent.ejs") %>
                            <%- include("../components/Home/Social.ejs") %>

                                <!-- Footer -->
                                <%- include("../components/Home/Footer.ejs") %>

        </main>

</body>

</html>